/* ---- MAIN SECTION ---- */
#aboutMainOne{
    display: grid;
    grid-template:  "oneOne" 
                    "oneTwo"
                    "oneThree"
                    "oneFour"
                    "oneFive"
                    "oneSix"
                    "oneSeven"
                    "oneEight";
    grid-template-rows: auto 1fr;
    
}

#aboutMainOne > div:not(#aboutMainOneOne){
    min-height: 250px;
    width: auto;
}

#aboutMainOneDivOne{
    grid-area: oneOne;
    min-height: 0 !important;
    /* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,192,204,0.5) 50%); */
}

#aboutMainOneDivTwo{
    grid-area: oneTwo;
    width: 100vw;
}

#aboutMainOneDivThree{
    grid-area: oneThree;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(247,192,204,0.5) 50%);
}

#aboutMainOneDivFour{
    grid-area: oneFour;
}

#aboutMainOneDivFive{
    grid-area: oneFive;
}

#aboutMainOneDivSix{
    grid-area: oneSix;
    background: linear-gradient(180deg, rgba(247,192,204,0.5) 0%,  rgb(255, 255, 255) 75%);
}

#aboutMainOneDivSeven{
    grid-area: oneSeven;
    background: linear-gradient(180deg, rgba(247,192,204,0.5) 0%,  rgb(255, 255, 255) 75%);
}

#aboutMainOneDivEight{
    grid-area: oneEight;
    background: linear-gradient(180deg, rgba(247,192,204,0.5) 0%,  rgb(255, 255, 255) 75%);
}



/*
*******************
-- Media Queries --
*******************
*/

/*media queries for "small" mobiles*/
@media screen and (max-width: 380px){

}

@media screen and (max-width: 480px){

}

/*media query for iPads, tablets and large phones*/
@media screen and (min-width: 481px){

} 

@media screen and (max-width: 640px){

}

@media screen and (min-width: 641px){
    #aboutMainOne{
        align-items: center;
        grid-template:  "oneOne oneOne" auto
                        "oneTwo oneThree" auto
                        "oneFour oneFive" auto
                        "oneSix oneSix" auto
                        "oneSeven oneEight" auto;
        grid-auto-flow: column;
    }
    #aboutMainOneDivOne{
        padding-bottom: 10px;
        background-color: white;
    }
    

    #aboutMainOne > div:not(#aboutMainOneDivOne){
        height: 400px;
        padding-bottom: 0 !important;
        border-bottom: 1px solid #daa52069;
    }
    #aboutMainOneDivTwo{
        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(247,192,204,0.5) 50%);
    }
}

@media screen and (max-width: 768px){

} 

/*media query for small screens and laptops*/
@media screen and (min-width: 769px){

} 

/*media query for desktops and large screens*/
@media screen and (min-width: 1024px){

} 

/*media query for extra large screens and TV*/
@media screen and (min-width: 1201px){

} 

@media screen and (min-width: 1251px){

}