#voucherMainOne{
    display: grid;
    grid-template:  "voucherOneOne" 
                    "voucherOneTwo" 
                    "voucherOneThree";
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;
}
#voucherMainOneOne{
    grid-area: voucherOneOne;
}
#voucherMainOneTwo{
    grid-area: voucherOneTwo;
    
}
#voucherMainOneThree{
    grid-area: voucherOneThree;
    padding-bottom: 50px;
}

.voucherWhyParagraph{
    max-width: 600px;
    padding: 15px 30px 15px 30px;
    text-align: justify;
}

#listsContainer{
    background: url("../content/images/borders/pricelistpinkborder-02.png");
    background-repeat: repeat;
    background-size: auto;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: round;
    background-size: cover;
    /* width: 50vw; */
    max-width: 600px;
    min-height: 175px;
    /* margin-bottom: 25px;
    margin-top: 25px; */
    margin: 25px 5vw 25px 5vw;
    padding: 30px;
}

#voucherMainTitle p{
    margin: 5px 15px 25px 15px;
    text-align: center;
}

#voucherMainTitle span:first-child{
    font-family: 'Brock-Script' !important;
    font-size: 1.75em;
    /* text-shadow: 5px 8px 5px rgb(230 197 197); */
}
#voucherMainTitle span:nth-child(3){
    font-size: 1.4em;
    font-weight: bold;
}

#spanSeparator{
    display: block;
    margin: 0 0 15px 0;
}
#voucherAmountContainer{
    text-align: center;
}

.inputTLabel{
    display: block;
    text-align: left;
    padding-left: 15%;
    font-weight: bold;
}

input{
    padding: 5px;
    margin: 10px 0 10px 0;
    width: 70%;
}
#amountWarning, #fromWhoWarning, #toWhoWarning{
    color: red;
    font-size: 0.8em;
    font-weight: bold;
    display: none;
    border: 1px solid red;
    margin: 10px 0 10px 0;
    background-color: rgba(255, 0, 0, 0.1);
}
#amountWarning p, #fromWhoWarning p, #toWhoWarning p{
    margin: 5px;
}

.validity{
    padding-right: 30px;
    position: absolute;
    padding-left: 5px;
    color: red;
}

#confirmVoucher{
    padding: 10px;
    margin: 5px;
    width: 75%;
    border-radius: 0;
    border: 1px rgba(0, 0, 0, 0.295) solid;
    background-color: #fbcccc;
}
#confirmVoucher:hover, #confirmVoucher:active{
    background-color: #bfac7a;
}


/* #voucherNumber{
}
#confirmVoucher{
} */

/*
*******************
-- Media Queries --
*******************
*/

/*media queries for "small" mobiles*/
@media screen and (max-width: 380px){

}

@media screen and (max-width: 480px){

}

/*media query for iPads, tablets and large phones*/
@media screen and (min-width: 481px){

} 

@media screen and (max-width: 640px){

}

@media screen and (min-width: 641px){
    #spanSeparator{
        display: none;
    }
    #voucherMainTitle span:nth-child(3){
        padding-left: 50px;
    }
}

@media screen and (max-width: 768px){

} 

/*media query for small screens and laptops*/
@media screen and (min-width: 769px){

} 

/*media query for desktops and large screens*/
@media screen and (min-width: 1024px){

} 

/*media query for extra large screens and TV*/
@media screen and (min-width: 1201px){

} 

@media screen and (min-width: 1251px){

}